footer.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    background-color: #1a2f3a;
    color: #f5f5f5;
    box-shadow:  0 2px 23px 0 rgba(0,0,0,0.1),
    0 2px 49px 0 rgba(0,0,0,0.06);
    p{
        writing-mode: vertical-lr;
        font-size: 2em;
        letter-spacing: 7px;
    }
    span{
        color: red;
    }
    strong{
        letter-spacing: 3px;
    }
}