.container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    @media only screen and (max-width: 1018px) {
        flex-direction: column;
        gap: 90px;
    }
    .form{
        width: 43%;
        height: 90%;
        margin-top: 30px;
        margin-left: 5px;
        box-shadow: 10px 5px 20px 1px black;
        @media only screen and (max-width: 1018px) {
            margin: 0 auto;
            width: 60%;
            margin-top: 35px;
        }
        @media only screen and (max-width: 780px) {
            width: 75%;
        }
        @media only screen and (max-width: 590px) {
            width: 90%;
            margin: 40px auto;
        }
        .row{
            width: 95%;
            margin: 0 auto;
            position: relative;
            top: 25px;
            .col{
                margin: 20px 0;
                padding: 25px;
                &:nth-child(2){
                    position: relative;
                    bottom: 20px;
                }
                .formGroup{
                    input{
                        border: none;
                        outline: none;
                        background: none;
                        border-bottom: 1px solid #1a2f3a;
                        width: 90%;
                        padding: 5px 0;
                        font-size: 1.3em;
                        margin: 5px 0;
                        margin-left: 22px;
                        color: black;
                        @media only screen and (max-width: 590px) {
                            width: 93%;
                            margin-left: 10px;
                        }
                    }
                    span{
                        position: absolute;
                        left: 48px;
                        pointer-events: none;
                        padding: 5px 0;
                        margin: 10px 0; 
                        font-size: 1.1em;
                        color: rgb(155, 155, 155);
                        transition: 0.5s;
                        @media only screen and (max-width: 590px) {
                            left: 37px;
                            
                        }
                    }
                    input:focus ~ span,
                    input:valid ~ span{
                        font-size: 0.9em;
                        transform: translateY(-25px);
                        color: #1a2f3a;
                    } 
                }
            }
        }
        .row2{
            .col2{
                .btn{
                    width: 70%;
                    height: 4em;
                    background: none;
                    margin: 10px 70px;
                    cursor: pointer;
                    position: relative;
                    bottom: 20px;
                    border: 2px solid #1a2f3a;
                    &:nth-child(1){
                        background: #1a2f3a;
                        color: aliceblue;
                        &:hover{
                            background: #064263;
                            
                        }
                    }
                    &:nth-child(2){
                        &:hover{
                            background-color: rgb(148, 32, 32);
                            color: aliceblue;    
                        }
                    }
                    @media only screen and (max-width: 780px) {
                        margin: 10px 60px;
                    }
                    @media only screen and (max-width: 590px) {
                        margin: 10px 36px;
                        width: 80%;
                    }
                }
            }
        }
    }
    .usuarios{
        width: 58%;
        height: 400px;
        margin-top: 30px;
        @media only screen and (max-width: 1018px) {
            margin: 0 auto;
            width: 70%;
        }
        @media only screen and (max-width: 780px) {
            width: 90%;
        }
        .table{
            width: 100%;
            tr{
                text-align: center;
                height: 50px;
                font-size: 1.3em;
            }
        }
        button{
            background: none;
            cursor: pointer;
            border: none;
            font-size: 20px;
            &:not(:nth-child(2)){
                margin-right: 10px;
                &:hover{
                    color: #064263;
                }
            }
            &:nth-child(2):hover{
                color: rgb(148, 32, 32);
            }
            
        }
    }
}