/* Layout Grid */
.container{
    margin: 0;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 
        100px
        1fr;
    height: 100vh;
    background-color: #f5f5f5;
}
  