.content{
    padding: 15px;
    margin: 20px;
    .conteudo{
        background-color: #fff;
        padding: 20px;
        height: 500px;
        @media only screen and (max-width: 1018px) {
           height: 1000px;
        }
        @media only screen and (max-width: 590px) {
            padding: 10px;
            width: 1700%;
        }
        h2{
            font-size: 2em;
        }
    }
}